.allbody{
    display: flex;
    width: 100%;
    height: calc(100vh - 3.5rem);
    margin-top: 3.5rem;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.home{
    font-size: xx-large;
    font-weight: bold;
}